@using PagedList.Core
@model IPagedList<WebDriveImageApp.Models.Image>
@{
    ViewData["Title"] = "GetGoogleDriveImages";
}
@await Html.PartialAsync("navbar.cshtml")


<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-sm-3 displayImages">

            <img src="@item.ImageLink" class="zoom" alt="@item.Name" title="@Model.First().Name" />

        </div>
    }


    <script src="~/js/zoomerang.js"></script>
    <script>
        Zoomerang.config({
            maxWidth: 600,
            minWidth: 600,
            minHeight: 600,

            maxHeight: 600
        }).listen('.zoom');
    </script>

</div>
<nav aria-label="Image Padding" style="margin-top:20px">

    <pager class="pagination" list="@Model" asp-action="GetGoogleDriveImages" asp-controller="Home" asp-route-query="@Model" />

</nav>